/** Main reset ---------- */
html, body { padding: 0; margin: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

html { font-size: 1em; }

body { font-size: 100%; }

a img, :link img, :visited img { border: 0; }

*, *:before, *:after { box-sizing: border-box; }

/** Centering utilties ------------------ */
.center { left: 0; right: 0; margin-left: auto; margin-right: auto; }

.middle { top: 0; bottom: 0; margin-top: auto; margin-bottom: auto; }

.center-middle { left: 0; right: 0; top: 0; bottom: 0; margin: auto; }

.center-trans { left: 50%; transform: translateX(-50%); }

.middle-trans { top: 50%; transform: translateY(-50%); }

.center-middle-trans { left: 50%; top: 50%; transform: translate(-50%, -50%); }

/** Generic utilties ---------------- */
.alpha-0 { opacity: 0; }

.invisible { visibility: hidden; }

.hide { display: none; }

.offstage { left: -9999px; top: -9999px; }

.anti-alias { font-smooth: always; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.gpu { -webkit-backface-visibility: hidden; backface-visibility: hidden; transform: translateZ(0); }

.line-fix { outline: 1px solid transparent; }

@supports (-moz-appearance: meterbar) { .gpu { transform: translateZ(0) rotate(0.02deg); } }

.transform-reset { transform: none !important; }

/** Main base --------- Generic ad layout file */
body { background: #707070; }

#ad_content { background: #3E9FD7; font-family: Helvetica, Arial, sans-serif; overflow: hidden; }

#ad_content div, #ad_content img, #ad_content svg { position: absolute; }

.backup { background: url("backup.jpg") -1px -1px no-repeat; background-size: 728px 90px; }

#ad_content, .backup { border: 1px solid black; cursor: pointer; position: absolute; width: 728px; height: 90px; }

/* ---------------------------------------- */
#branding_1 { top: 11px; left: 25px; }

#branding_2 { top: 43px; left: 26px; }

#txt_1 { top: 24px; left: 138px; }

#txt_2 { top: 49px; left: 138px; }

#txt_3 { top: 19px; left: 170px; }

#txt_4 { top: 46px; left: 170px; }

#pack_1 { bottom: 4px; left: 424px; }

#pack_2 { bottom: 8px; left: 490px; }

#pack_3 { bottom: 7px; left: 348px; }

#cta { bottom: 29px; left: 586px; }

#cta #cta_border { bottom: 0px; left: 0px; }

#cta #cta_txt { bottom: 7px; left: 13px; }

#animation { background: url("anim.png"); transform: scale(0.68); width: 444px; height: 250px; top: -90px; right: 56px; }

.sprite-png { background-image: url('sprite.png') }
.sprite-png.branding_1 {
  width: 91px;
  height: 67px;
  background-position: 0px 0px;
  background-size: 291px 153px; }
.sprite-png.cta_border {
  width: 111px;
  height: 29px;
  background-position: -177px 0px;
  background-size: 291px 153px; }
.sprite-png.pack_1 {
  width: 67px;
  height: 78px;
  background-position: 0px -72px;
  background-size: 291px 153px; }
.sprite-png.pack_2 {
  width: 48px;
  height: 66px;
  background-position: -96px -72px;
  background-size: 291px 153px; }
.sprite-png.pack_3 {
  width: 78px;
  height: 67px;
  background-position: -96px 0px;
  background-size: 291px 153px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.cta_txt {
  background-position: 90.81427998395507% 80.77023840712602%;
  width: 83.28px;
  height: 13.66px; }
.sprite-svg.txt_1 {
  background-position: 0 0;
  width: 182.91px;
  height: 19.19px; }
.sprite-svg.txt_2 {
  background-position: 0 25.50166112956811%;
  width: 161.03px;
  height: 14.75px; }
.sprite-svg.txt_3 {
  background-position: 0 54.49582530507386%;
  width: 113.66px;
  height: 27.72px; }
.sprite-svg.txt_4 {
  background-position: 0 99.25949774629748%;
  width: 90.56px;
  height: 27.88px; }
